{% extends 'base.html' %}
{% block title %}
    Histórico
{% endblock %}

{% block content %}
<div class="historico-filter-vertical">
    <h2>Filtros</h2>
    <form action="#" method="post">
        <div class="filter-item">
            <label for="fecha-inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha-inicio" name="fecha-inicio" value="{{ selected_fecha_inicio }}" min="2014-01-01" max="2020-12-31">
        </div>
        <div class="filter-item">
            <label for="fecha-fin">Fecha de Fin:</label>
            <input type="date" id="fecha-fin" name="fecha-fin" value="{{ selected_fecha_fin }}" min="2014-01-01" max="2020-12-31">
        </div>
        <div class="filter-item">
            <label for="barrio">Barrio:</label>
            <select id="barrio" name="barrio">
                <option value="todos">Todos</option>
                {% for barrio in datos['barrios'] %}
                    <option value="{{ barrio }}">{{ barrio }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filter-item">
            <label for="tipo-accidente">Tipo de Accidente:</label>
            <select id="tipo-accidente" name="tipo-accidente">
                <option value="todos">Todos</option>
                {% for tipo_accidente in datos['tipos_accidentes'] %}
                    <option value="{{ tipo_accidente }}">{{ tipo_accidente }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" name="submit_button" value="Filtrar">
        <input type="submit" name="submit_button" value="Borrar filtros">
    </form>
    

    <p>Total accidentes: {{datos['cantidad']}} </p>
    <p>Total accidentes: {{datos['cantidad']}} </p>
    <p>Total accidentes: {{datos['cantidad']}} </p>
    <p>Total accidentes: {{datos['cantidad']}} </p>

</div>

<!-- Contenido en la parte derecha -->
<div class="historico-content">
    <!-- Contenido de datos históricos -->
    <div class="selecciones-horizontal">
        <!-- Mostrar el mapa aquí si la variable mostrar_mapa es True -->
        <p>Fecha de Inicio: {{ datos['fecha_inicio'] }}</p>
        <p>Fecha de Fin: {{ datos['fecha_fin'] }}</p>
        <p>Barrio: {{ datos['barrio'] }}</p>
        <p>Tipo de Accidente: {{ datos['tipo_accidente'] }}</p>
    </div>
    {% if datos['mostrar_mapa'] %}
    <div id="map-container">
        <!-- Agregar un iframe para mostrar el mapa -->
        {% include 'mapa_historico.html' %}
    </div>
        {% endif %}
</div>


{% endblock %}