{% extends 'base.html' %}
{% block title %}
    Inicio
{% endblock %}

{% block content %}
    <h1>¡Bienvenidos a la Plataforma de Seguridad Vial Medellín!</h1>
    <p class="intro-paragraph">
        Bienvenidos a  “Accidentabilidad  vial en la ciudad de Medellín", tu fuente de información y recursos dedicados a un tema crítico en la ciudad de medellín ( accidentabilidad  vial en la ciudad)  En esta plataforma, hemos desarrollado y compartido una potente herramienta de evaluación para predecir la cantidad de accidentes tipo choque en la ciudad de Medellín en los años 2021 y 2022 con la colaboración de:  Pamela Escobar Palacio, Juan Jose Monsalve Patino,Santiago Mejia Carmona  y José Julián Aguirre Ramírez. Nuestra misión es proporcionar una visión accesible que  permitirá una comprensión más precisa de la evolución de la seguridad vial en Medellín y brindarle información sólida a la secretaría de movilidad de medellín estrategias para abordar los choques que ocurren en los barrios. 
    </p>

    <h2>¿Por qué es importante predecir la Accidentabilidad vial?</h2>
    <ul class="benefits-list">
        <li><span class="highlight">Seguridad:</span> Nuestro enfoque en la predicción de accidentes tiene un objetivo claro: reducir accidentes y salvar vidas en Medellín.</li>
        <li><span class="highlight">Economía:</span> Prever accidentes también significa ahorrar costos y recursos valiosos para nuestra ciudad.</li>
        <li><span class="highlight">Tráfico fluido:</span> Evita congestiones y mantiene la movilidad de la ciudad en su mejor forma.</li>
        <li><span class="highlight">Planificación urbana:</span> Diseñamos infraestructuras más seguras, pensando en el bienestar de todos.</li>
        <li><span class="highlight">Política pública:</span> Colaboramos con medidas efectivas para un Medellín más seguro.</li>
        <li><span class="highlight">Sostenibilidad:</span> Reducimos emisiones y daños ambientales.</li>
        <li><span class="highlight">Calidad de vida:</span> Contribuimos a hacer de Medellín una ciudad más atractiva para todos sus habitantes.</li>
    </ul>
    

    <p>
        Estos beneficios contribuyen a una Medellín más segura, eficiente y agradable para todos.
    </p>

    <h2>¿Te preguntas cómo construimos esta innovadora herramienta?</h2>
        <p class="link-paragraph">
         Te invitamos a explorar nuestro blog, donde detallamos el proceso de construcción del modelo de predicción sobre la Accidentabilidad vial en la ciudad de Medellín, incluyendo las metodologías, los datos y las prácticas que utilizamos para desarrollar esta valiosa herramienta.
        </p>
<ul class="links-list">
    <li><a href="https://reportmrc.blogspot.com/" target="_blank">Visitar nuestro blog</a></li>
    <li><a href="https://github.com/PamelaEscobarPalacio/Prediccion_accidentes_Medellin" target="_blank">Visitar nuestro repositorio de códigos</a></li>
    <li><a href="https://www.youtube.com/watch?v=xqlW4EjXJhE" target="_blank">Ver nuestro video publicitario</a></li>
</ul>


    <h2>Información de contacto:</h2>
    <div class="contact-info">
        <div class="contact-item">
            <p class="contact-name">Pamela Escobar Palacio</p>
            <p class="contact-details">Estudiante de Ingeniería Administrativa, Universidad Nacional de Colombia, sede Medellín.<br>Correo: paescobarp@unal.edu.co</p>
        </div>
        <div class="contact-item">
            <p class="contact-name">Juan Jose Monsalve Patino</p>
            <p class="contact-details">Estudiante de Ingeniería Industrial, Universidad Nacional de Colombia, sede Medellín.<br>Correo: jumonsalvep@unal.edu.co</p>
        </div>
        <div class="contact-item">
            <p class="contact-name">José Julián Aguirre Ramírez</p>
            <p class="contact-details">Estudiante de Ingeniería Industrial, Universidad Nacional de Colombia, sede Medellín.<br>Correo: joaguirrer@unal.edu.co</p>
        </div>
        <div class="contact-item">
            <p class="contact-name">Santiago Mejia Carmona</p>
            <p class="contact-details">Estudiante de Ingeniería de Sistemas, Universidad Nacional de Colombia, sede Medellín.<br>Correo: sanmejiacar@unal.edu.co</p>
        </div>
    </div>
    <h2>Derechos de autor</h2>



{% endblock %}
