{% extends 'base.html' %}

{% block title %}
    Predicción
{% endblock %}

{% block content %}
<div class="prediccion-container">
    <h1>Predicción de accidentes tipo choque entre 2021 y 2022</h1>
    <p>A continuación encontrarás una fecha inicial y una fecha final, la cual puedes llenar con el día, mes y año que deseas predecir entre ambos años.</p>
    <p>Instrucciones:</p>
    <ul>
        <li>Si desea predecir un día específico, verifique que la fecha de inicio y la fecha final sean las mismas.</li>
        <li>Si desea predecir entre dos fechas diferentes, entonces recuerde que la fecha inicial debe ser menor a la fecha final.</li>
        <li>Tener en cuenta que el resultado entre dos fechas diferentes es el total de accidentes que pueden ocurrir entre estas fechas.</li>
    </ul>

    <form method="POST" action="#">
        <label for="fecha_inicial">Fecha Inicial:</label>
        <input type="date" id="fecha_inicial" name="fecha_inicial" min="2021-01-01" max="2022-12-31" required value="{{ request.form.get('fecha_inicial', '') }}">
        <br>
        <label for="fecha_final">Fecha Final:</label>
        <input type="date" id="fecha_final" name="fecha_final" min="2021-01-01" max="2022-12-31" required value="{{ request.form.get('fecha_final', '') }}">
        <br>
        <button type="submit">Predecir</button>
    </form>

    <div class="resultado">
        <p>Cantidad de choques = {{predict}}</p>
        <br>
        <br>
    </div>
</div>
{% endblock %}
